

/*CSS Reset from http://meyerweb.com/eric/tools/css/reset/*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	box-sizing : border-box;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	height : 100%;
}

/* Body typeface and color */
body {
	font-family : "Nunito", sans-serif;
	background-color : #f8f8f8;
	height : 100%;
}

/* Remove default styling for links */
a, a:active, a:visited {
	text-decoration : none;
}

/* Navigation */
.topnav {
	position : fixed;
	top: 0;
	left : 0;
	background-color: #ffffff;
	width : 100%;
	height : 3em;
}

.topnav__list {
	padding : 1em;
	display : flex;
	justify-content: space-between;
}

.topnav__sublist {
	width : 40%;
	display : flex;
	justify-content : space-around;
}

.topnav__link, .topnav__sublist__link {
	color : #919191;
}

.topnav__sublist__link {
	padding : .65em .9em .9em .9em;
}

/* Add purple border on top for active menu */
.topnav__sublist__link:hover {
	border-top : 3px solid #6C3483;
	color : #6d6d6d;
}

/*Container div for sidebar and wrapper*/
.reviews-sidebar-wrapper {
	margin-top : 2em;
	display : flex;
	height : 100%;
}

/*Reviews section*/
.reviews {
	width : 73%;
}

/* Review Card */
.review__card:first-child {
	margin-top: 6em;
}

.review__card {
	background-color : #ffffff;
	margin: 0em 5em 5em 5em;
	display : flex;
	border-radius : 5px;
	min-height : 40%;
}

.review__card__contentBox {
	width : 75%;
	display : flex;
	flex-direction : column;
}

.review__card__text {
	padding : 2em 1.5em 2em 4.5em;
	flex : 2;
}

.review__heading {
	font-family : "Nunito";
	font-size : 0.9rem;
	margin-bottom : 1em;
}

.review__paragraph {
	line-height : 1.4;
	font-size : 0.8rem;
	color : #919191;
}

/*Review Tags*/
.review__card__taglist {
	display : flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: flex-start;
	align-items: center;
	height : 100%;
}

.review__card__tagItem, .review__card__tagLink,
.sidebar__tagItem, .sidebar__tagLink {
	height : 1.8em;
	line-height : 1.8em;
}

.review__card__tagItem:first-child {
	margin-left : 1em;
}

.review__card__tagItem {
	margin : .5em .5em .5em .5em;
}


.review__card__tagLink, .sidebar__tagLink {
	padding : .3em .6em .3em 1.6em;
	background-color : #f8f8f8;
	position: relative;
	color : #919191;;
}

/* Circle shape before tags*/
.review__card__tagLink:before, .sidebar__tagLink:before {
	content : "";
	position : absolute;
	top : .85em;
	left : .8em;
	width: .3em;
	height : .3em;
	background-color : #919191;
	border-radius : 2px;
}


.review__card__footer {
	font-size : 0.8rem;
	border-top: 1px solid #ededed;
	flex : 1;
}

.review__card__bookCover {
	width : 25%;
	background-color : #F36A6F;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	display : flex;
	justify-content: center;
	align-items : center;
}

.review__card__bookCoverImage {
	width : 62%;
}

/* Sidebar */
.sidebar {
	width : 27%;
	height : 100%;
	background-color : #ffffff;
	display : flex;
	flex-direction : column;
	justify-content: space-around;
}

.sidebar__heading__tags, .sidebar__heading__recentlyReviewed {
	font-family : "Nunito";
	font-size : 1rem;
	text-align: center;
	margin-bottom : 1.3em;
}

/* Line for */
.sidebar__horizontalLine {
	height : .1em;
	width : 20%;
	border-bottom : 3px solid #6C3483;
	text-align : center;
	margin : 0 auto;
}

.sidebar__tagLink {
	font-size : .8rem;
}

.sidebar__taglist {
	padding : 1em 3em;
	display : flex;
	flex-wrap : wrap;
}

.sidebar__tagItem {
	margin : .3em .1em;
}


/* Responsive Design */
/*@media (max-width : 400px) {

	.reviews-sidebar-wrapper {
		flex-direction : column;
		padding : 1em;
	}

	.reviews {
		width : 100%;
	}

	.review__card {
		margin : 0em;
	}

	.sidebar {
		width : 100%;
	}
}*/
